/* Global */

body {
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color: #000003;
    background-color: #ffffff;
}

img {
    max-width: 100%;
}

a:link {
    color: #005ea6;
    text-decoration: none;
}

a:visited {
    color: #555;
    text-decoration: none;
}

a:hover {
    color: #0084e9;
    text-decoration: none;
}

p {
    font-size: 13px;
}

/* Navigation */

.menu {
    position: fixed;
    top: 0px;
    width: 100%;
    height: auto;
    background-color: #ffffff;
    z-index: 10000;
}

#logo {
    width: 65px;
    margin-top: 10px;
    float: left;
}

#nav {
    text-align: right;
    margin: 10px 0 0 0;
    float: left;
}

.tagline {
    padding: 0px;
    text-align: left;
    font-size: 11px;
    color: #999;
    margin: 0px;
    height: 12px;
}

.navigation {
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 0px;
}

.navigation li {
    float: left;
    font-size: 14px;
    margin: 0px;
}

.navigation li a {
    padding: 0 15px;
}

.navigation li:first-child {
    /*margin-left:25px;*/
}

.navigation li a:link {
    color: #005ea6;
    text-decoration: none;
}

.navigation li a:visited {
    color: #005ea6;
}

.navigation li a:hover {
    cursor: pointer;
    color: #0084e9;
}

.socialWrap {
    padding-top: 8px;
    padding-right: 70px;
}

.socialWrap p {
    line-height: 36px;

    display: inline-block;

}

.social {
    float: right;
    list-style: none;
    margin: 0px 0 0 0;
}

.social li {
    float: left;
    padding: 0 10px 0 0;
    font-size: 14px;
}

.fr {
    float: right;
}

/* General Slides */

.slide {

    width: 100%;
    height: auto;

    padding: 60px 0;
}

.slidetop {
    width: 100%;
    height: auto;

    padding: 60px 0 0 0;
}

/* Slide 1 */

#slide1 {
    background-position: 0% 0px;
    background-image: url(../images/topBackground.jpg);
    background-color: #33abf1;

    background-attachment: fixed;

}

#slide1 h1 {
    font-size: 22pt;
    line-height: 0;
    color: #C00;
    font-weight: normal;
    text-align: center;
    margin: 50px 0 0 0px;
}

#slide1 h1 img {
/*    opacity: 0; */
}

.catch {
/*    opacity: 0; */
    padding: 35px 40px;
    overflow: hidden;
    background: url(../images/catchBg.png) center top;
    text-align: left;

}

#slide1 h2.catchcopy {
    color: #009f29;
    font-size: 34px;
    text-align: center;

}

.pointWrap {
    width: 40%;
    display: inline-block;
    padding: 0 4.5%;
}

.pointWrap h3 {
/*    opacity: 0; */
    margin-left: -30px
}

.pointWrap p {
/*    opacity: 0; */
}

.multiDevice {
    padding-left: 37px;
    background: url(../images/multiDevice.png) center left no-repeat;
    color: #009f29;
    font-size: 17px;
    font-weight: bold;
}

.multimedia {
    padding-left: 37px;
    background: url(../images/multimedia.png) center left no-repeat;
    color: #009f29;
    font-size: 17px;
    font-weight: bold;
}

.noInstallation {
    padding-left: 37px;
    background: url(../images/noInstallation.png) center left no-repeat;
    color: #009f29;
    font-size: 17px;
    font-weight: bold;
}

.realTime {
    padding-left: 37px;
    background: url(../images/realTime.png) center left no-repeat;
    color: #009f29;
    font-size: 17px;
    font-weight: bold;
}

.mt200 {
    margin-top: 200px;
}

h3 {
    font-weight: normal;
}

.read {
    font-weight: bold;
    font-size: 14px;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
}

/* Slide 2 */

#slide2 {

    background-color: #ffffff;
    color: #000;
}

#slide2 h1 {
/*    opacity: 0.05; */
    font-size: 22pt;
    color: #000;
    text-align: center;
    font-weight: normal;
    padding-top: 90px;
    background: url(../images/slide3H1.png) center top no-repeat;
}

#slide2 h2 {
    font-size: 2em;
    color: #333;
    line-height: 0px;
    padding-bottom: 20px;
    font-weight: 400;
}

.samplecode {
    overflow: hidden;
    background: #fff;
    padding: 20px 10px;
}

#slide2 .samplecode {
/*    opacity: 0.05; */
}

tt, code, pre {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-size: 12px;
}

.highlight pre, .markdown-body pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;

    line-height: 19px;

    padding: 6px 10px;
    border-radius: 3px;
    /* overflow: auto; */
    overflow-x: scroll;
    overflow-y: auto;
}

.highlight .na {
    color: teal;
}

.highlight .c1 {
    color: #999988;
    font-style: italic;
}

.highlight .s {
    color: #dd1144;
}

.highlight .s1 {
    color: #dd1144;
}

.highlight .nb {
    color: #0086b3;
}

.highlight .nt {
    color: navy;
}

.highlight .kd {
    font-weight: bold;
}

/* Slide 3 */

#slide3 {
    background-color: #f8f8f8;
}

#slide3 h1 {
/*    opacity: 0.05; */
    font-size: 20pt;
    color: #000;
    font-weight: normal;
    text-align: center;
    padding-top: 80px;
    background: url(../images/slide4H1.png) center top no-repeat;
}

#slide3 h2 {
    font-size: 2em;
    padding-bottom: 20px;
    font-weight: 400;
}

#slide3 h2 {
    font-size: 18pt;
    padding-bottom: 20px;
    font-weight: 700;
}

#slide3 h3 {
    font-size: 1.3em;
    color: #8a8683;
    line-height: 1.1;
    padding-bottom: 20px;
    font-weight: 400;
}

.bx-wrapper {
/*    opacity: 0.05; */

}

.bx-wrapper .bx-viewport {
    background-color: #f8f8f8 !important;
}

/* Slide 4 */

#slide4 {
    background-color: #ffffff;
}

.footer {
    padding: 20px 0;
    background: url(../images/footerBg.jpg) center bottom no-repeat #09357f fixed;

    text-align: center;
    color: #fff;
}

.footer nav {
    text-align: center;
}

.footer nav ul {
    list-style-type: none;
    text-align: center;
    margin: 25px auto 0 auto;
}

.footer nav ul li {
    display: inline-block;
    font-size: 11px;
    padding: 0 20px;
}

.footer nav ul li a {
    color: #fff;
    text-decoration: underline;
}

.footerSocial {
    margin: 45px auto 0 auto;
    list-style: none;
}

.footerSocial li {
    display: inline-block;
    padding: 0 10px 0 0;
    font-size: 15px;
}

.nttcom {
    margin-right: 30px;
}

.copy {
    font-size: 12px;
}

a.btnL {
    background: url(../images/btnL.png) right 15px center no-repeat #01b169;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    /*box-shadow:0 4px 0  #008951;*/
    padding: 15px 50px 15px 30px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

a.btnL:hover {
    background: url(../images/btnL.png) right 15px center no-repeat #01bc6f;

}

a.btnL:active {
    background: url(../images/btnL.png) right 15px center no-repeat #009c5c;
    box-shadow: 0 1px 0 inset #008951;

}

.btnM,
a.btnM {
    background: url(../images/btnM.png) right 10px center no-repeat #01b169;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    /*box-shadow:0 4px 0  #008951;*/
    padding: 5px 30px 5px 10px;
    text-align: center;
    margin-right: 5px;
}

a.btnM:hover {
    background: url(../images/btnM.png) right 10px center no-repeat #01bc6f;

}

a.btnM:active {
    background: url(../images/btnM.png) right 10px center no-repeat #009c5c;
    box-shadow: 0 1px 0 inset #008951;

}

.btnS {
    list-style-type: none;
    margin: 0 auto;
    text-align: center;
    padding: 0px;
}

.btnS li.btnGotodemo,
.btnG {
    background: url(../images/btnS.png) right 8px center no-repeat #369dde;
    color: #fff;
    border-radius: 5px;

    padding: 10px 23px 10px 10px;
    font-size: 12px;
    display: inline-block;
    margin-right: 10px;
}

.btnS li.btnGotodemo:hover,
.btnG:hover {
    background: url(../images/btnS.png) right 8px center no-repeat #44aff3;

}

.btnS li.btnGotodemo:active,
.btnG:active {
    background: url(../images/btnS.png) right 8px center no-repeat #2282bf;
    box-shadow: 0 1px 0 inset #095f95;
}

.btnS li.btnGotocode,
.btnB {
    background: url(../images/btnS.png) right 8px center no-repeat #0ec159;
    color: #fff;
    border-radius: 5px;

    padding: 10px 23px 10px 10px;
    font-size: 12px;
    display: inline-block;
}

.btnS li.btnGotocode:hover,
.btnB:hover {
    background: url(../images/btnS.png) right 8px center no-repeat #18d768;
}

.btnS li.btnGotocode:active,
.btnB:active {
    background: url(../images/btnS.png) right 8px center no-repeat #05a949;
    box-shadow: 0 1px 0 inset #018e3c;
}

.btnG a,
.btnB a,
.btnGotodemo a {
    color: #fff;

}

.btnGotodemo a,
.btnGotocode a {
    color: #fff;

}

.demoP {
    margin-bottom: 30px;
    height: 4em;
}

.fr {
    float: right;
}

.tar {
    text-align: right;
}

.tac {
    text-align: center;
}

/* no-slide */
.no-slide {
    padding: 140px 0;
}

.no-slide02 {
    padding: 80px 0;
}

.no-slide03 {
    padding: 80px 0;
    background: #f8f8f8;
}

h1.formH1 {
    font-size: 20pt;

    color: #000;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
    font-weight: nomal;
    background: url(../images/slide2H1.png) center top no-repeat;
}

.form {
    text-align: center;
}

dl.formDL {
    width: 100%;
    max-width: 500px;
    margin: 0px auto;

}

dl.formDL dt {
    width: 100%;
    font-size: 11px;
    text-align: left;

}

dl.formDL dd {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;

}

dl.formDL dd input {
    width: 100%;
    padding: 8px 0px;
    border: 1px solid #ccc;

}

.form input:valid, .form input :in-range {
    background-color: #b0e2ff;
}

.form input:invalid {
    background-color: pink;
}

.form input[type="submit"] {

    background: url(../images/btnM.png) right 10px center no-repeat #01b169;
    overflow: hidden;
    margin: 0 auto;
    color: #fff;
    border-radius: 5px;
    /*box-shadow:0 4px 0  #008951;*/
    padding: 5px 30px 5px 10px;
    text-align: center;
    margin-right: 5px;

}

.form input[type="submit"]:hover {
    background: url(../images/btnM.png) right 10px center no-repeat #01bc6f;

}

.form input[type="submit"]:active {
    background: url(../images/btnM.png) right 10px center no-repeat #009c5c;
    box-shadow: 0 1px 0 inset #008951;

}

h1.laboH1 {
    font-size: 20pt;

    color: #000;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
    font-weight: nomal;
    background: url(../images/laboH1.png) center top no-repeat;
}

h1.pastH1 {
    font-size: 20pt;

    color: #000;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
    font-weight: nomal;
    background: url(../images/pastH1.png) center top no-repeat;
}

h1.mailH1 {
    font-size: 20pt;

    color: #000;
    text-align: center;
    padding-top: 90px;
    margin-bottom: 40px;
    font-weight: nomal;
    background: url(../images/mailH1.png) center top no-repeat;
}

h2.titleG {
    color: #009f29;
    font-size: 18px;
    font-weight: bold;
}

/* Form */

.formWrap {
    text-align: center;
}

.formBox {
    max-width: 600px;
    margin: 0 auto;
}

/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
    position: relative;
    margin: 0 auto 60px;
    padding: 0;
    *zoom: 1;
}

.bx-wrapper img {
    max-width: 100%;
    display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {

    left: -5px;
    background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
    position: absolute;
    bottom: -30px;
    width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
    min-height: 50px;
    background: url(images/bx_loader.gif) center center no-repeat #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
    text-align: center;
    font-size: .85em;
    font-family: Arial;
    font-weight: bold;
    color: #666;
    padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;
    *zoom: 1;
    *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #666;
    text-indent: -9999px;
    display: block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    outline: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
    left: 0px;
    background: url(../images/controls.png) no-repeat 0 -32px;
}

.bx-wrapper .bx-next {
    right: 5px;
    background: url(../images/controls.png) no-repeat -43px -32px;
}

.bx-wrapper .bx-prev:hover {
    background-position: 0 0;
}

.bx-wrapper .bx-next:hover {
    background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
    position: absolute;
    top: -18px;
    margin-top: -16px;
    outline: 0;
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
    display: none;
}

/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
    text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    text-indent: -9999px;
    width: 10px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -11px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active {
    background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    text-indent: -9999px;
    width: 9px;
    height: 11px;
    outline: 0;
    background: url(../images/controls.png) -86px -44px no-repeat;
    margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active {
    background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
    text-align: left;
    width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
    right: 0;
    width: 35px;
}

/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #666\9;
    background: rgba(80, 80, 80, 0.75);
    width: 100%;
}

.bx-wrapper .bx-caption span {
    color: #fff;
    font-family: Arial;
    display: block;
    font-size: .85em;
    padding: 10px;
}

.ml1em {
    margin-left: 1em;
}

.mb1em {
    margin-bottom: 1em;
}

.mb2em {
    margin-bottom: 2em;
}

.mb3em {
    margin-bottom: 3em;
}

.b1s {
    border: 1px solid #ccc;
}

h1.policyH1 {
    font-size: 20pt;
    color:#000;
    text-align:center;
}

h2.policyH2 {
    font-size: 15pt;
    color:#000;
    text-align:left;
}

h3.policyH3 {
    font-size: 12pt;
    color:#000;
    text-align:left;
}

table.policyTable, td.policyTd, th.policyTh { border: 2px #808080 solid; }


/* Tablet */
@media screen and (max-width: 862px) {

    .socialWrap {

        padding-right: 0px;
    }

    .tagline {

        display: block;

    }

    .social {
        float: none;

        padding: 0px;
    }

    #nav {
        width: 100%;

        margin: 10px 0;
    }

}

/* Tablet */
@media screen and (max-width: 768px) {
    .forkme {
        display: none;
    }

    .slide {
        background-attachment: fixed;
        width: 100%;
        position: relative;
        padding: 60px 0;
    }

    .slidetop {
        padding-top: 100px;
    }

    #decorative {
        display: none;
    }

    #content {

        width: 100%;
    }

    #slide1 h1 {
        line-height: 1em;
    }

    #slide1 h2 {
        line-height: 1em;
    }

    #slide2 h1 {
        line-height: 1em;
    }

    #slide2 h2 {
        line-height: 1em;
    }

    #slide3 h1 {
        line-height: 1em;
    }

    #slide3 h2 {
        line-height: 1em;
    }

    #slide4 h1 {
        line-height: 1em;
    }

    #slide4 h2 {
        line-height: 1em;
    }

    #slide1 h2.catchcopy {

        font-size: 28px;

    }

    .pointWrap {
        width: 94%;
        display: inline-block;
        padding: 0 2%;
    }

    a.btnL {
        background: url(../images/btnL.png) right 12px center no-repeat #01b169;
        overflow: hidden;
        margin: 0 auto;
        color: #fff;
        border-radius: 5px;
        padding: 10px 34px 10px 15px;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
    }

}

/* Mobile */
@media screen and (max-width: 480px) {

    #nav {
        width: 100%;
        margin: 5px 0;
    }

    .navigation {
        width: 100%;
        float: left;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .navigation li {
        float: left;
        width: auto;
        padding: 0 7px;
        font-size: 13px;

    }

    .slide {
        background-attachment: fixed;
        width: 100%;
        position: relative;
        padding: 30px 0 40px 0;
    }

    .slidetop {
        padding: 80px 0 0 0;
    }

    .demoBox {
        margin-bottom: 40px;

    }

    #slide1 h1 {
        line-height: 1em;
    }

    #slide1 h2 {
        line-height: 1em;
    }

    #slide2 h1 {
        line-height: 1em;
    }

    #slide2 h2 {
        line-height: 1em;
    }

    #slide3 h1 {
        line-height: 1em;
    }

    #slide3 h2 {
        line-height: 1em;
    }

    #slide4 h1 {
        line-height: 1em;
    }

    #slide4 h2 {
        line-height: 1em;
    }

    #slide3 h3 {
        font-size: 1.2em;

    }

    a.btnL {
        background: url(../images/btnL.png) right 12px center no-repeat #01b169;
        overflow: hidden;
        margin: 0 auto;
        color: #fff;
        border-radius: 5px;
        padding: 10px 34px 10px 15px;
        font-size: 14px;
        font-weight: 700;
        text-align: center;
    }

}



