<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js"><!--<![endif]--><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta property="og:title" content="SkyWay - WebRTCを簡単＆柔軟に使えるプラットフォーム">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://nttcom.github.io/skyway/">
    <meta property="og:image" content="http://nttcom.github.io/skyway/images/ogp.jpg">
    <meta property="og:description" content="{{ page.ogDescription }}">
    <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/grid.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link rel="shortcut icon" href="images/favicon.ico"/>
    {% if page.enableCanonical == true %}
<link rel="canonical" href="http://nttcom.github.io/skyway/"/>{% endif %}
    <!--[if IE]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="js/waypoints.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
</head>

<body>

<!-- header -->
<header class="menu">

    
    <div class="container clearfix">
        <!-- logo -->
        <h1 id="logo">
            <a href="./">
                <img src="images/logo.png" alt="SkyWay" title="SkyWay">
            </a>
        </h1>
        <p class="tagline">A Simple and Flexible WebRTC Platform</p>
        <!-- /logo -->
        <div class="socialWrap">
            
            <ul class="social ">
                <li>
                    <a href="https://twitter.com/share" class="twitter-share-button"
                       data-url="http://nttcom.github.io/skyway" data-text="SkyWay - WebRTCを簡単＆柔軟に使えるプラットフォーム"
                       data-lang="ja" data-hashtags="com_skyway">ツイート</a>
                </li>
                <li>
                    <div id="fb-root"></div>
                    <div class="fb-like" data-href="http://nttcom.github.io/skyway/" data-layout="button_count"
                         data-action="like" data-show-faces="false" data-share="false"></div>
                </li>
                <li>
                    <iframe src="github-btn.html?user=nttcom&repo=peerjs&type=watch&count=true&size=small"
                            allowtransparency="true" frameborder="0" scrolling="0" width="130px" height="30px"></iframe>
                </li>

            </ul>
        </div>
        <!-- navi -->
        <nav id="nav">
            <ul class="navigation">
                <li id="nav-home"><a href="./">ホーム</a></li>
                <li><a href="registration.html">申し込み</a></li>
                <li><a href="https://github.com/nttcom/peerjs" target="_blank">コード</a></li>
                <li><a href="docs/">ドキュメント</a></li>
            </ul>
        </nav>
        <!-- /navi -->
    </div>
    <div class="github-fork-ribbon-wrapper right">
        <div class="github-fork-ribbon">
            <a href="https://github.com/nttcom/peerjs">Fork me on GitHub</a>
        </div>
    </div>
</header>
<!-- /header -->

{{ content }}

<!-- footer -->
<footer class="footer" id="footer">
    <div class=" container">
        <nav>
            <ul>
                <li><a href="html5lab.html">HTML5ラボについて</a></li>
                <li><a href="http://www.ntt.com/aboutus/hp/disclaimer.html" target="_blank">免責事項・準拠法</a></li>
                <li><a href="http://www.ntt.com/copyright/" target="_blank">著作権について</a></li>
                <li><a href="http://www.ntt.com/privacy/" target="_blank">プライバシーポリシー</a></li>
                <li><a href="http://www.ntt.com/aboutus/hp/webbeacon.html" target="_blank">クッキーとウェブビーコンについて</a></li>
            </ul>
        </nav>
        <ul class="footerSocial">
            <li class="nttcom"><a href="http://www.ntt.com/" target="_blank"><img src="images/nttcomLogo.png"
                                                                                  alt="NTT コミュニケーションズ"></a></li>
            <li>
                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="http://nttcom.github.io/skyway" data-text="SkyWay - WebRTCを簡単＆柔軟に使えるプラットフォーム"
                   data-lang="ja" data-hashtags="com_skyway">ツイート</a>
            </li>
            <li>
                <div class="fb-like" data-href="http://nttcom.github.io/skyway/" data-layout="button_count"
                     data-action="like" data-show-faces="false" data-share="false"></div>
            </li>
            <li class="github-btn">
                <iframe src="github-btn.html?user=nttcom&repo=peerjs&type=watch&count=true&size=small"
                        allowtransparency="true" frameborder="0" scrolling="0" width="130px" height="20px"></iframe>
            </li>
        </ul>
        <p class="copy">Copyright &copy; 2013 NTT Communications</p>
    </div>
</footer>
<!-- /footer -->

</body>
</html>
